<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>--LSItemContentTypes</key>
			<array>
				<string>public.directory</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>folder</string>
			<key>CFBundleTypeName</key>
			<string>public.directory</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.oleganza.gitbox</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${APP_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Gitbox repository</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gitbox</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Git repository</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>github-mac</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${APP_VERSION}</string>
	<key>GBAppStoreURL</key>
	<string>http://itunes.apple.com/app/gitbox/id403388357</string>
	<key>GBHelpURL</key>
	<string>http://gitboxapp.com/help.html</string>
	<key>GBReleaseNotesURL</key>
	<string>http://gitboxapp.com/release-notes.html</string>
	<key>GBSiteURL</key>
	<string>http://gitboxapp.com</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Gitbox ${APP_VERSION} © 2012, Oleg Andreev</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>GBApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>${SPARKLE_FEED_URL}</string>
	<key>SUPublicDSAKeyFile</key>
	<string>sparkle_dsa_pub.pem</string>
</dict>
</plist>
